* {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
img {
    width: 100%;
}
main {
    padding-top: 100px;
    margin: 0 auto;
}
.bg-green {
    background-color:rgba(126, 183, 130, 1);
}
.bg-orange {
    background-color: rgba(226, 154, 0, 1)
}
.bg-gray {
    background-color: rgba(217, 217, 217, 1);
}
.bg-white {
    background-color: white;
}
.bg-pink {
    background-color: rgba(255, 85, 115, 1);
}
.border-none {
    border: none;
}
.border-rad {
    border-radius: 20px;
}
.color-white {
    color: white;
}
.pad-10 {
    padding: 10px;
}
.position-relative {
    position: relative;
}

@media(min-width:1280px) {
    #nav-container {
        display: flex;
        width: 100%;
        justify-content: center;
        background-color: rgba(217, 217, 217, 1);
        position: fixed; 
        z-index: 999;
    }
    #nav-container nav {
        display: flex;
        width: 100%;
        justify-content: center;
        gap: 50px;
        padding: 15px;
    }
    #choose-character {
        display: grid;
        grid-template-areas: 
        'luffy luffy uschoro'
        'zoro sanji uschoro'
        'nami sanji brojin';
        justify-content: center;
        gap: 30px;
        margin-left: 250px;
        margin-right: 250px;
        margin-bottom: 100px;
    }
    .luffy-container {
        grid-area:luffy;
        display: flex;
        margin-top: 0%;
        background-color: #f9e8c2; /* Warna latar mirip dengan contoh */
        border-radius: 10px;
        width: 100%;
        position: relative;
    }
    .luffy-container figure {
        width: 40%;
    }
    .content {
        justify-content: center;
    }
    .content button {
        width: 50%;
        bottom: 10px;
        position: absolute;
    }
    .content article {
        padding-top: 10px;
        padding-bottom: 120px;
    }
    
    .zoro {
        grid-area: zoro;
        background-color: rgba(225, 255, 220, 1);
    }
    .card-uschoro {
        grid-area: uschoro;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: #F4F4F4;
        gap: 20px;  
    }
    .uschoro {
        display: flex;
        height: 25%;
        margin-left: 40px;
        margin-right: 40px;
        justify-content: center;
        align-items: center;
        border: 2px solid rgb(208, 208, 208);
    }
    .uschoro figure {
        width: 25%;
    }
    .uschoro article {
        width: 70%;
    }
    .uschoro button {
        margin-top: 20px;
        width: 40%;
        background-color: rgba(216, 214, 193, 1);
    }
    .container-kotak {
        position: relative;
        justify-content: center;
    }
    .container-kotak button {
        position: absolute;
        bottom: 10%;
        left: 20%;
        width: 60%;
        padding: 10px;
    }
    .nami {
        grid-area: nami;
        background-color: rgba(255, 206, 215, 1);
    }
    .container-sanji {
        background-color: rgba(226, 242, 255, 1);
        grid-area: sanji;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        display: flex;
    }
    .container-sanji figure {
        width: 70%;
    }
    .container-sanji article {
        text-align: center;
    }
    .container-sanji button {
        border-radius: 20px;
        border: none;
        background-color: rgba(50, 121, 175, 1);
        color: white;
        width: 50%;
        padding: 10px;
    }
    .container-brojin {
        grid-area: brojin;
        display: flex;
        background-color: #F4F4F4;
        border-radius: 20px;
        align-items: center;
    }
    .brojin {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px;
    }
    .brojin img {
        width: 100%;
    }
    .brojin button {
        border-radius: 10px;
        border: none;
        background-color: rgba(216, 214, 193, 1);
        color: white;
        width: 100%;
        padding: 10px;
    }
}

@media(max-width:1280px) {
    
    #nav-container {
        display: flex;
        width: 100%;
        justify-content: center;
        background-color: rgba(217, 217, 217, 1);
        position: fixed;
        bottom: 0;
        z-index: 999;
    }
    #nav-container nav {
        display: flex;
        width: 100%;
        justify-content: center;
        gap: 50px;
        padding: 5px;
    }
    #choose-character {
        display: grid;
        place-items: center;
        grid-template-areas:
        'luffy'
        'zoro'
        'nami'
        'sanji'
        'uschoro'
        'brojin';
        gap: 30px;
        justify-content: center;
        align-items: center;
    }
    #choose-character > * {
        width: 80%;
    }
    .luffy-container {
        grid-area: luffy;
        margin-top: 0%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        background-color: #f9e8c2; /* Warna latar mirip dengan contoh */
        border-radius: 20px;

    }
    .luffy-container figure {
        width: 80%;
    }
    .content {
        padding-top: 20px;
        justify-content: center;
        align-items: center;
    }
    .content button {
        width: 75%;
        border-radius: 10px;
        order: 1;
        transform: translate(30px);
        position: absolute;
        bottom: 60px;
        right: 11vh;
    }
    .content article {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .card-uschoro {
        grid-area: uschoro;
        display: flex;
        flex-direction: column;
        border-radius: 20px;
        align-items: center;
        gap: 30px;
    }
    .uschoro {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
        position: relative;
        background-color: #F4F4F4;
        text-align: center;
        width: 100%;
    }
    .uschoro figure {
        width: 100%;
    }
    .uschoro article {
        width: 100%;
        padding-bottom: 10px;
    }
    .uschoro button {
        margin-top: 20px;
        width: 80%;
        height: 50px;
        background-color: rgba(216, 214, 193, 1);
        position: absolute;
        bottom: 10px;
        right: 5vh;
    }
    .container-kotak {
        position: relative;
        justify-content: center;
    }
    .container-kotak button {
        position: absolute;
        bottom: 10%;
        right: 7vh;
        width: 75%;
        padding: 10px;
        border-radius: 10px;
    }
    .zoro {
        grid-area: zoro;
        background-color: rgba(225, 255, 220, 1);
    }
    .nami {
        grid-area: nami;
        background-color: rgba(255, 206, 215, 1);
    }
    .container-sanji {
        background-color: rgba(226, 242, 255, 1);
        grid-area: sanji;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        display: flex;
        position: relative;
    }
    .container-sanji figure {
        width: 70%;
    }
    .container-sanji article {
        text-align: center;
    }
    .container-sanji button {
        border-radius: 10px;
        border: none;
        background-color: rgba(50, 121, 175, 1);
        color: white;
        width: 75%;
        padding: 10px;
        position: absolute;
        bottom: 80px;
        right: 7vh;
    }
    .container-brojin {
        grid-area: brojin;
        display: flex;
        flex-direction: column;
        border-radius: 20px;
        align-items: center;
        gap: 30px;
        margin-bottom: 100px;
    }
    .brojin {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
        position: relative;
    }
    .brojin img {
        width: 100%;
    }


    .brojin button {
        border-radius: 10px;
        border: none;
        background-color: rgba(216, 214, 193, 1);
        color: white;
        width: 75%;
        padding: 10px;
        position: absolute;
        bottom: 20px;
        right: 6vh;

    }
    .brook {
        background-color: rgba(255, 219, 197, 1);
        color: rgba(255, 219, 197, 1);
    }
    .brook button {
        background-color: rgba(227, 100, 21, 1);
    }
    .jinbe {
        background-color: rgba(143, 197, 237, 1);
        color: rgba(143, 197, 237, 1);
    }
    .jinbe button {
        background-color: rgba(39, 94, 135, 1);
    }
}